dist/index.html
<!DOCTYPE html>
<html class="no-js loading" dir="ltr">
  <head>
    <title>EQS Interview : Machine test</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:image" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&amp;family=Yanone+Kaffeesatz:wght@300;400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/plugin.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body class="no-js theme--default" dir="ltr">
    <div id="page-wrap">
      <header class="av header">
        <div class="container container--fluid">
          <div class="header__wrap">
            <div class="logo_wrap"> <a href="/"> <img src="images/company-logo.svg" alt="company"></a></div>
            <nav class="header__nav">
              <div class="nav__btn">
                <button class="btn btn--nav"> <img src="images/menu-open-button.svg" alt="menu"></button>
              </div>
              <div class="main__menu">
                <ul>
                  <li> <a href="/">Home</a></li>
                  <li> <a href="#">About</a></li>
                  <li> <a href="#">Design</a></li>
                  <li> <a href="#">Design expertise</a></li>
                  <li> <a href="#">Decor gallery</a></li>
                  <li> <span>Edge ideas Sub Menu</span>
                    <ul class="submenu"> 
                      <li> <a href="#">Sub Menu Item </a></li>
                      <li> <a href="#">Sub Menu Item </a></li>
                      <li> <a href="#">Sub Menu Item </a></li>
                    </ul>
                  </li>
                  <li> <a href="#">SURTECO Art</a></li>
                  <li> <a href="#">Surface technologies</a></li>
                  <li> <a href="#">Decor of the month</a></li>
                </ul><span class="seperator seperator--extendright"></span>
                <ul>
                  <li> <a href="#">News</a></li>
                  <li> <a href="#">Newsletter</a></li>
                  <li> <a href="#">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <section class="section section--hero">
        <div class="slider__buttons"> 
          <button class="btn btn--prev"> <img src="images/arrow-left.svg" alt="prev"></button>
          <button class="btn btn--next"> <img src="images/arrow-right_1.svg" alt="next"></button>
        </div>
        <div class="hero--wrap">
          <div class="slider-item">
            <div class="container container--fluid"> 
              <div class="row"> 
                <div class="col col--title"> 
                  <div class="title__wrap"> 
                    <h1>Products for rooms in which we feel comfortable </h1>
                    <h6>product gallery</h6><a class="btn btn--main btn--herocta" href="#">learn more</a>
                  </div>
                </div>
                <div class="col col--image">    
                  <figure> <img src="images/hero1.jpg" alt="hero"></figure>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="container container--fluid"> 
              <div class="row"> 
                <div class="col col--title"> 
                  <div class="title__wrap"> 
                    <h1>Products for rooms in which we feel comfortable </h1>
                    <h6>product gallery</h6><a class="btn btn--main btn--herocta" href="#">learn more</a>
                  </div>
                </div>
                <div class="col col--image">    
                  <figure> <img src="images/hero1.jpg" alt="hero"></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section__teaser section__teaser--2col">
        <div class="container container--fluid"> 
          <div class="row">
            <div class="col">
              <div class="teaser teaser__wrap">
                <div class="teaser teaser__contents">
                  <h3 class="teaser__heading">Teaser Heading</h3>
                  <div class="teaser teaser__cta">
                    <p class="teaser__copy">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!</p><a class="btn btn--alt teaser__ctaLink" href="#">read more</a>
                  </div>
                </div>
                <div class="teaser__icon"> <img src="images/slanding-arrow.svg" alt=""></div>
                <div class="teaser teaser__overlay"></div>
                <figure class="teaser__img"> <img src="images/teaser1.jpg" alt="teasr"></figure>
              </div>
            </div>
            <div class="col">
              <div class="teaser teaser__wrap">
                <div class="teaser teaser__contents">
                  <h3 class="teaser__heading">Teaser Heading</h3>
                  <div class="teaser teaser__cta">
                    <p class="teaser__copy">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!</p><a class="btn btn--alt teaser__ctaLink" href="#">read more</a>
                  </div>
                </div>
                <div class="teaser__icon"> <img src="images/slanding-arrow.svg" alt=""></div>
                <div class="teaser teaser__overlay"></div>
                <figure class="teaser__img"> <img src="images/teaser2.jpg" alt="teasr"></figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section--json_info"> 
        <div class="container"> 
          <div class="row"> 
            <div class="col"> 
              <h3 class="text text--center">Json Information Section</h3>
              <button class="btn btn--large mx-auto show_info" id="show_info"> <span id="show">Show Information</span><span id="hide">Hide Information</span></button>
            </div>
          </div>
          <div class="row"> 
            <div class="col"> 
              <div class="json__tabewrap">
                <table class="json__table">
                  <thead> 
                    <td valign="top">ID </td>
                    <td valign="top"> Name </td>
                    <td valign="top"> Last Name</td>
                    <td valign="top"> Age</td>
                    <td valign="top"> Contact Details</td>
                    <td valign="top"> Company</td>
                  </thead>
                  <tbody id="json__infocontent"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section__teaser section__teaser--3col">
        <div class="container container--fluid"> 
          <div class="row">
            <div class="col">
              <div class="teaser teaser__wrap">
                <div class="teaser teaser__contents">
                  <h3 class="teaser__heading">Teaser Heading</h3>
                  <div class="teaser teaser__cta">
                    <p class="teaser__copy">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!</p><a class="btn btn--alt teaser__ctaLink" href="#">read more</a>
                  </div>
                </div>
                <div class="teaser__icon"> <img src="images/slanding-arrow.svg" alt=""></div>
                <div class="teaser teaser__overlay"></div>
                <figure class="teaser__img"> <img src="images/teaser3.jpg" alt="teasr"></figure>
              </div>
            </div>
            <div class="col">
              <div class="teaser teaser__wrap">
                <div class="teaser teaser__contents">
                  <h3 class="teaser__heading">Teaser Heading</h3>
                  <div class="teaser teaser__cta">
                    <p class="teaser__copy">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!</p><a class="btn btn--alt teaser__ctaLink" href="#">read more</a>
                  </div>
                </div>
                <div class="teaser__icon"> <img src="images/slanding-arrow.svg" alt=""></div>
                <div class="teaser teaser__overlay"></div>
                <figure class="teaser__img"> <img src="images/teaser4.jpg" alt="teasr"></figure>
              </div>
            </div>
            <div class="col">
              <div class="teaser teaser__wrap">
                <div class="teaser teaser__contents">
                  <h3 class="teaser__heading">Teaser Heading</h3>
                  <div class="teaser teaser__cta">
                    <p class="teaser__copy">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!</p><a class="btn btn--alt teaser__ctaLink" href="#">read more</a>
                  </div>
                </div>
                <div class="teaser__icon"> <img src="images/slanding-arrow.svg" alt=""></div>
                <div class="teaser teaser__overlay"></div>
                <figure class="teaser__img"> <img src="images/teaser5.jpg" alt="teasr"></figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="av footer">
        <div class="container">
          <div class="row"> 
            <div class="col">
              <div class="footer__col"> 
                <h4>Footer Heading</h4>
                <div class="footer__items"> 
                  <ul class="footer__menu footer__items-col"> 
                    <li><a href="#">Footer link item</a></li>
                    <li><a href="#">Footer link item</a></li>
                  </ul>
                  <ul class="footer__menu footer__items-col"> 
                    <li><a href="#">Footer link item</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col"> 
              <div class="footer__col">
                <h4>Contact</h4>
                <div class="footer__items">
                  <div class="footer__items-col"> 
                    <p>Company Name </p>
                    <p>54, Street name </p>
                    <p>Road and numbers</p>
                  </div>
                  <div class="footer__items-col"> <a class="mail__link" href="mailto:info@company.com">info@company.com</a></div>
                </div>
              </div>
            </div>
            <div class="col"> 
              <div class="footer__col">
                <h4>Connect with us  </h4>
                <div class="footer__items footer__items-social"> 
                  <p>Stay connected with us</p>
                  <ul class="footer__social"> 
                    <li> <a href="#"> <img src="images/twitter.svg" alt="twitter"></a></li>
                    <li> <a href="#"> <img src="images/facebook.svg" alt="fb"></a></li>
                    <li> <a href="#"> <img src="images/linkedin.svg" alt="linkedin"></a></li>
                    <li> <a href="#"> <img src="images/youtube.svg" alt="youtube"></a></li>
                    <li> <a href="#"> <img src="images/instagram.svg" alt="insta"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container--fluid copyrights">
          <div class="row">
            <div class="col">   
              <p>  <span>&copy; </span><span id="year"></span><span> Company Name</span></p>
            </div>
          </div>
        </div>
        <div class="back-top"><img src="images/arrow-left.svg" alt=""></div>
      </footer>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>

source/pages/index.pug
extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'theme--default'
block page 

	//- hero banner 
	include ../components/hero-banner/hero-banner.pug

	//- teaser content 2-col
	- var colCount="2"
	section.section.section__teaser(class='section__teaser--'+colCount+'col')
		.container.container--fluid 
			.row
				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser1.jpg"
		
					include ../components/teaser/teaser.pug

				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser2.jpg"
					include ../components/teaser/teaser.pug

	


	//- json info 
	include ../components/json-info/json-info.pug

	
	//- teaser content - 3col 
	- var colCount="3"
	section.section.section__teaser(class='section__teaser--'+colCount+'col')
		.container.container--fluid 
			.row
				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser3.jpg"
		
					include ../components/teaser/teaser.pug

				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser4.jpg"
					include ../components/teaser/teaser.pug

				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser5.jpg"
					include ../components/teaser/teaser.pug
